@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.canvas{
    padding: 0 200px;
    margin-top: 110px;
}

.highlight{
    color: #E55473;
}

.primary-button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

/* header-Banner Style Starts Here */

.banner{
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-between;
}

.banner-info{
    max-width: 70%;
    padding-top: 10%;
}

.banner-heading{
    color: #272727;
    font-size: 63px;
    font-weight: 800;
}

.banner-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.banner>img{
    padding-top: 50px;
    max-width: 40%;
    
}

/* Main featured section style starts here */

.featured{
    margin-top: 120px;
    margin-bottom: 50px;
}

.featured-info{
    max-width:500px ;
    margin: 0 auto;
    text-align: center;
}

.featured-info>h1{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}

.featured-info>p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 20px;
}

.featured-products{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.featured-products .featured-img1{
width: 80%;
margin-top: 47px;
}
.featured-products .featured-img2{
width: 100%;
margin-top: 58px;
}
.featured-products .featured-img3{
width: 80%;
margin-top: 16px;
}

.img-bag{
    text-align: center;
    position: relative;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    padding: 50px 35px 0 35px;
    height: 400px;
    width: 320px;
}

.featured-products div{
    margin: 0 5px;
}

.featured-products h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    padding-top: 20px;
    text-decoration-line: underline;
}
.featured-products h2 a{
    color: #272727;
}

.featured-bag-color1{

    background-color: #F2DEE7;
}
.featured-bag-color2{

    background-color: #D9EFF1;
}
.featured-bag-color3{

    background-color: #E3EBDB;
}

.support-info{
    margin: 100px 150px;
    background-color: #F4F4F4;
    height: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.support-info-box h3{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 10px;
}

.discount{
    display: flex;
    justify-content: space-between;
    background-color:#FEF6F8;
    padding: 90px 250px;
}

.discount-info{
    max-width: 500px;
    text-align: center;
    padding-top: 100px;
}

.discount-info h2{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}

.discount-info p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding: 25px 0;
}

.discount > img{
    width:250px
}

.insta-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 50px 0;
}

.insta-container img{
    width: 100%;
}

.newsletter-box{
    background-image: url('assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    border-radius: 6px;
    padding: 90px 0;
    width: 1200px;
    margin: 100px auto;

}
.newsletter-box-info{
    padding-bottom: 30px;
}
.newsletter-box-info h2{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}

.newsletter-box-info p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-weight: 400;
    padding:10px 0;
    line-height: 30px;
}

.newsletter-input >input{
    border-radius: 6px;
    background: #FFF;
    border: none;
    padding: 18px 400px 18px 20px;
    margin-right: 15px;

}

.newsletter-input >input:focus{
    outline: none;
}



footer{
    background-color: #000;
    text-align: center;
    padding: 100px 0;
}

.main-footer{
    max-width: 500px;
    margin: 0 auto;

}

.main-footer >h1{
    color: #fff;
font-size: 42px;
font-weight: 800;
}

.main-footer >p{
    color: #d6d6d6;
font-size: 16px;
font-weight: 400;
line-height: 25px;
padding: 20px 0;
}

.main-footer >span{
    color: #ffffff66;
    font-size: 13px;;
    font-weight: 400;
}

.main-footer > span> a{
    text-decoration: none;
    color: #ffffff66;

}


/* Improvised Section style starts here */

.rose-info{
    display: flex;
    margin-top: 50px;
}


.rose-info-text{

    padding: 0 20px;
}
.rose-info-img{
    max-width: 50%;
}

.rose-info img{
    width: 100%;
}

.rose-info h1{
    color: #272727;
    font-size: 27px;
    font-weight: 800;
    text-align: center;
}

.rose-info p{
    color: #494949;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 1.5;
    padding: 20px 0;
    text-align: justify;
}

.rose-info-text>button{
    display: block;
    margin: 0 auto;
}

.blog-title{
    text-align: center;
    padding: 30px 0;
}

