@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.primary-button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

/* header-Banner Style Starts Here */

.banner{
    background-color: #FCEEF1;
    height: 95vh;
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
}

.banner-info{
    max-width: 50%;
    padding-top: 150px;
}

.banner-heading{
    color: #272727;
    font-size: 63px;
    font-weight: 800;
}

.banner-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

.banner>img{
    padding-top: 50px;
}


